@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');
:root{
--header-height:80px;
--footer-heigth:76px;
--primary-bg-color:#575252;
--secondary-bg-color:#C5F1FF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-family: 'Inter', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
}
.logo{
    width: 65px ;
    height: 65px;
    background-image: url('/assets/icons/Logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.wrapper{
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
}
header{
    background-color: var(--primary-bg-color);
    height: var(--header-height);
    width: 100%;
    /* z-index: 3; */
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: green;
}
main{
    height: calc(100% - var(--header-height) - var(--footer-heigth));
}
.contact-form{
    height: 100%;
background-color: var(--secondary-bg-color);
display: flex;
flex-direction: column;
gap: 20px;
margin-bottom: 10px;
}
.contact-form h2{
    margin-left: 30px;
    margin-top: 30px;
    font-size: 25px;
}
.contact-form input{
    height: 60px;
    width: 80%;
    margin-left: 30px;
    border: 1px solid transparent;
    
}
.contact-form textarea{
    height: 180px;
    width: 80%;
    margin-left: 30px;
    border: 1px solid transparent;
}
.contact-form button{
    height: 40px;
    width: 30%;
    text-align: center;
    margin-left: 110px;
    margin-top: 30px;
    background-color: var(--primary-bg-color);
    color: white;
}
footer{
    color: white;
    background-color: var(--primary-bg-color);
    height: var(--footer-heigth);
    width: 100%;
}

.images {
    height: 150px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center; 
}

#image1 {
    background-image: url(https://images.thenile.io/r1000/0028399065882.jpg);
}
#image2 {
    background-image: url(https://cdn.shopify.com/s/files/1/0600/0141/9429/products/luqnkgu7pmrtqqk6ugeh_81466610-2352-45c0-b669-ce49981e2caa.jpg?v=1676330166);
}
#image3 {
    background-image: url(https://peeka.co/cdn/shop/products/Kids-digital-camera-model-c-mikayo-bear-kidamento-front.jpg?v=1654006789);
}
#image4 {
    background-image: url(https://www.buddytoys.eu/getattachment/e022a3fd-616b-4878-b399-40f961534f22/BEC-7121.aspx);
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.all_images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center; 
}
.top_image {
    height: 150px;
    width: 300px;
    background-image: url(https://www.shutterstock.com/image-photo/pile-toys-isolated-on-white-260nw-321375317.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    margin: auto;
}
.image_heading {
    color: rgb(13, 110, 134);
    font-size: 0.9em;
    
}
.bold {
    font-size: 1.5em;
}
.top_text {
    text-align: center;
    margin: 10px;
}
